<% if user_signed_in? %>
  <%= render 'shared/menu_bar' %>
  <h1>Themes</h1>

<!--  Note: this should show the resources associated to one theme (compare with index)-->
  <p><%= @user.themes.map(&:name).join(', ') %></p>
<% end %>

